 /* General Toast Styles */
.Toastify__toast {
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  padding: 12px 16px;
  font-size: 14px;
}

/* Success */
.Toastify__toast--success {
  background: #6a5794;
  color: #fff;
}

/* Error */
.Toastify__toast--error {
  background: #b91c1c;
  color: #fff;
}

/* Warning */
.Toastify__toast--warning {
  background: #f59e0b;
  color: #fff;
}

/* Info */
.Toastify__toast--info {
  background: #3b82f6;
  color: #fff;
}
